<h1><%= @paint.paint_name %></h1>

<p>Medium: <%= @paint.medium %></p>
<p>Series: <%= @paint.series %></p>
<p>Opaque: <%= @paint.opaque %></p>
<p>Palette ID: <%= @paint.palette_id %></p>

<%= link_to "Update Paint", "/paints/#{@paint.id}/edit"%>
