<%= form_with url: "/palettes", method: :post, local: true do |form| %>
  <p><%= form.label :name, "Palette Name: " %></p>
  <p><%= form.text_field :name %></p>
  <br>
  <p><%= form.label :brand, "Palette Brand: "  %></p>
  <p><%= form.text_field :brand %></p>
  <br>
  <p><%= form.label :cartridge_capacity, "Palette Cartridge Capacity: "  %></p>
  <p><%= form.text_field :cartridge_capacity %></p>
  <br>
  <p><%= form.label :recyclable, "Recyclable?: "  %></p>
  <p><%= form.text_field :recyclable %></p>
  
  <p><%= form.submit 'Create Palette' %></p>
<% end %>