<h1><%= @palette.name %></h1>
<%= link_to "Paints for #{@palette.name}", "/palettes/#{@palette.id}/paints"%>

<p>Paint Count: <%= @palette.paint_count %></p>
<p>Brand: <%= @palette.brand %></p>
<p>Cartridge Capacity: <%= @palette.cartridge_capacity %></p>
<p>Recyclable? <%= @palette.recyclable %></p>
<br>
<%= link_to "Update Palette", "/palettes/#{@palette.id}/edit"%>
<br>
<%= link_to "Delete Palette", "/palettes/#{@palette.id}", method: :delete, data:
  { confirm: "Delete #{@palette.name}?" } %>
