<h1><%= @palette.name %></h1>

<%= link_to 'Create Paint', "/palettes/#{@palette.id}/paints/new" %>
<%= link_to 'Sort Paint A-Z', sort: "alphabetical" %>
<br>
<br>
<div id="paint-series-select">
<%= form_with url: "/palettes/#{@palette.id}/paints", method: :get, local: true do |form| %>
    <%# <%= form.label :series, "Series Filter: " %>
    Only show paints with Series number greater than: <%= form.number_field :series %>
    <%= form.submit 'Submit' %></p>
<% end %>


<% @paints.each do |paint| %>
  <h3>Paint Name: <%= paint.paint_name %></h3>
  <p>Medium: <%= paint.medium%></p>
  <p>Series: <%= paint.series%></p>
  <p>Opaque: <%= paint.opaque%></p>
  <p>Palette ID: <%= paint.palette_id%></p>
<% end %>
